body {
  font-family: sans-serif;
}

ol {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  color: #000000;
}

p {
  color: #828282;
  font-size: 0.8em;
}
