@import "tailwindcss";

@theme {
  --font-verdana: Verdana, Geneva, sans-serif;
  --color-hn-orange: #ff6600;
  --color-hn-orange-dark: #e55a00;
  --color-hn-bg: #f6f6ef;
  --color-hn-bg-dark: #0f0f0f;
  --color-hn-text-dark: #d0d0d0;
  --color-hn-border-dark: #333333;
}
