@import "tailwindcss";

@theme {
  --font-verdana: Verdana, Geneva, sans-serif;
  --color-hn-orange: #ff6600;
  --color-hn-orange-dark: #e55a00;
  --color-hn-bg: #f6f6ef;
  --color-hn-bg-dark: #1a1a1a;
  --color-hn-text-dark: #cccccc;
}
